body {
  margin: 0;
  font-family: Arial;
  background-color: #f4f4f4;
  
}

.header {
  background-color: #123d6d;
  color: white;
  text-align: center;
  padding: 30px;
  
}

.government {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
}

button {
  background-color:#123d6d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}


.note {
  width: 80%;
  margin: 20px auto;
  background-color: lightyellow;
  padding: 15px;
  border: 1px solid gray;
}

.note h2 {
  color: brown;
}

.note li {
  margin-bottom: 10px;
}

body{
    margin:0;
    font-family: sans-serif;
    background:#f2f2f2;
}

.container{
    width:90%;
    margin:auto;
}

.form-container{
    width:90%;
    margin:30px auto;
    background:white;
    padding:20px;
}

.form-container h2{
    text-align:center;
    background:#1f73b7;
    color:white;
    padding:12px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}

input[type="text"]{
    width:100%;
    padding:10px;
    box-sizing:border-box;
}

.radio-group label{
    font-weight:normal;
    margin-top:8px;
}

.radio-group input{
    width:auto;
    margin-right:8px;
}