body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.organization{
    width:80%;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:8px;
}

.title{
    background:#1f5d99;
    color:white;
    text-align:center;
    padding:12px;
    margin-bottom:25px;
}

.organization label{
    display:block;
    margin-top:15px;
    margin-bottom:6px;
    font-weight:bold;
}

.organization input{
    width:100%;
    padding:10px;
    border:1px solid lightgray;
    border-radius:5px;
    box-sizing:border-box;
}
.radio-group {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.row{
    display:flex;
    gap:20px;
}

.field{
    width:50%;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 0;
}